# Python
**pycache**/
*.py[codz]
*$py.class

# Virtual Environment
.venv/
venv/
env/
ENV/

# Environment Variables
.env
.env.*
!.env.example

# Build & Packaging
build/
dist/
.eggs/
*.egg-info/
*.egg

# Testing & Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints/

# Python Version
.python-version

# PDM
.pdm-python
.pdm-build/

# Pixi
.pixi/

# PEP 582
**pypackages**/

# Database
*.db
*.sqlite
*.sqlite3

# Cache & Runtime
.cache/
cache/
temp/
tmp/
outputs/
data/

# Logs
*.log

# Type Checker
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# IDE
.vscode/
.idea/
tempCodeRunnerFile.py

# OS Files
.DS_Store
Thumbs.db

# MkDocs
site/

# PyPI
.pypirc
